---
interface Props {
	title: string;
	price: string;
	src: string;
}

const { src, title, price } = Astro.props;
---

<div class="card centered">
	<figure class="image">
		<img src={src} alt="" />
	</figure>
	<div>
		<h2>
			{title}
		</h2>
		<p>
			$ <strong>{price},00</strong>
		</p>
	</div>
</div>

<style>
	.card {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 1.5rem;
		background-color: #eddeff;
		border-radius: 8px;
		box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.1);
	}

	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	figure {
		padding: 0;
		margin: 0;
	}

	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
